.fakeimg {
    height: 200px;
    background: #aaa;
  }

.jumbotron {
  background-image: url('https://github.com/SMAKBO/tugas-labkom-2019-11_5-albert-einstein/blob/master/img/Home4.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;  
    background-color: black;
}

.judul {
  color: white;
}

.judul2 {
  color: white;
}

.img {
    float:left
}

p {
    text-align: justify-all;
}